Java/vilchezmax/src/main/resources/xmlparsing/classes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="worker" type="workerType"/>
    <xs:complexType name="experimentsType">
        <xs:sequence>
            <xs:element type="xs:string" name="experiment" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="areasType">
        <xs:sequence>
            <xs:element type="xs:int" name="area" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="workerType">
        <xs:sequence>
            <xs:element type="xs:int" name="id"/>
            <xs:element type="xs:int" name="role"/>
            <xs:element type="xs:string" name="seniority"/>
            <xs:element type="xs:string" name="firstName"/>
            <xs:element type="xs:string" name="lastName"/>
            <xs:element type="xs:string" name="idNumber"/>
            <xs:element type="xs:string" name="email"/>
            <xs:element type="xs:string" name="wage"/>
            <xs:element type="xs:string" name="phd"/>
            <xs:element type="experimentsType" name="experiments"/>
            <xs:element type="areasType" name="areas"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>